# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Virtual environments
venv/
env/
ENV/

# VS Code
.vscode/

# macOS / Linux / Windows system files
.DS_Store
Thumbs.db

# Logs
*.log

# Render deployment file
*.sqlite3
